.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 4rem;
  background: linear-gradient(45deg ,#8B3A37, #DA633F, #FDD767);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  transform: translateY(4px);
}